html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #333;
  color: #CCC;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
