html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #333;
  color: #CCC;
  font-family: sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #0006;
  transition: 0.5s ease transform;
}
.card:hover img {
  transform: scale(1.05);
}

.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
}

.title {
  margin: 0.5rem 0rem;
  font-size: 1.1rem;
  text-align: center;
}
.description {
  font-size: 0.8rem;
  text-align: center;
  opacity: 0.65;
}
